## Importing libs

In [1]:
import re
from geopy import geocoders
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pandas as pd
import shutil
import glob, os, time
import sys  
cwd = os.getcwd()
from Script_utils import *

## Get all songs from U.S. and list separate articles

In [2]:
base_URL = 'https://en.wikipedia.org'
all_songs_URL = base_URL + '/wiki/List_of_songs_about_cities'

In [3]:
page_soup = load_page(all_songs_URL)

us_h2 = page_soup.select('h2 > span.mw-headline#United_States')[0].parent

In [4]:
cities = []
states = []
songs = []


for element in us_h2.next_siblings:

    if element.name == 'h2': break;
    if element.name == 'h3':
        city_state = get_city_and_state(element.getText())
        start_point = element

        for list_element in start_point.next_siblings:

            if list_element.name == 'h3': break
            if list_element.name == 'ul':

                for song_element in list_element.select('li'):
                    song_name = get_song_name(song_element.getText())
                    songs.append(song_name)
                    cities.append(city_state[0])
                    states.append(city_state[1])

            if list_element.name == 'div':
                single_aricle_URL = list_element.select('a',herf=True)[0]['href']
                print(single_aricle_URL)
                continue

/wiki/List_of_songs_about_Atlanta
/wiki/List_of_songs_about_Birmingham,_Alabama
/wiki/List_of_songs_about_Boston
/wiki/List_of_songs_about_Chicago
/wiki/List_of_songs_about_Detroit
/wiki/List_of_songs_about_Los_Angeles
/wiki/List_of_songs_about_Miami
/wiki/List_of_songs_about_Nashville
/wiki/List_of_songs_about_New_Orleans
/wiki/List_of_songs_about_New_York_City
/wiki/List_of_songs_about_Portland,_Oregon
/wiki/List_of_songs_about_the_San_Francisco_Bay_Area
/wiki/List_of_songs_about_Seattle

- /wiki/List_of_songs_about_Atlanta âœ…
- /wiki/List_of_songs_about_Birmingham,_Alabama ðŸš§
- /wiki/List_of_songs_about_Boston âœ…
- /wiki/List_of_songs_about_Chicago âœ…
- /wiki/List_of_songs_about_Detroit âœ…
- /wiki/List_of_songs_about_Los_Angeles ðŸš§
- /wiki/List_of_songs_about_Miami âœ…
- /wiki/List_of_songs_about_Nashville âœ…
- /wiki/List_of_songs_about_New_Orleans âœ…
- /wiki/List_of_songs_about_New_York_City âœ…
- /wiki/List_of_songs_about_Portland,_Oregon âœ…
- /wiki/List_of_songs_about_Seattle ðŸš§

âœ… - csv is generated <br/>
ðŸš§ - work in progress

In [5]:
print(f'Songs {len(songs)} | Cities: {len(cities)} | States: {len(states)}')

Songs 667 | Cities: 667 | States: 667

In [6]:
export_data = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})

In [7]:
export_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    667 non-null    object
 1   State   667 non-null    object
 2   Song    667 non-null    object
dtypes: object(3)
memory usage: 15.8+ KB

In [8]:
rows_with_nan = export_data[export_data.isnull().any(axis=1)]
print(rows_with_nan)
print(f'# of rows with NaN: {len(rows_with_nan)}')

Empty DataFrame
Columns: [City, State, Song]
Index: []
# of rows with NaN: 0

There were 18 rows with NaN values coused by issues below:

1. Missing cloasing quote
- Details: I noticed some of the songs in the Wikipedia article don't have closing quote (!) and my regex fail.
- Solution: I could make more complex regex to handle this situation, but instead I edit Wikipedia article. There are no so many of that rows and it'll help future scrapers :)

2. Different quote type
- Details: I found out there are many different type of quotation marks in UNICODE.
- Solution: I need to sanitize song names a bit

In [9]:
export_data.to_csv(cwd + '/datasets/Data_main.csv',index=False)
export_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    667 non-null    object
 1   State   667 non-null    object
 2   Song    667 non-null    object
dtypes: object(3)
memory usage: 15.8+ KB

## Scraping data for each big city

Unfortunately, every article has a slightly different structure so I had to scrape them separately.

In [10]:
def scrape_single_aricle(URL, start_tag,start_id, stop_tag, city_name, state_name):
    page_soup = load_page(base_URL + URL)

    start = page_soup.find(start_tag,id=start_id).parent

    songs = []
    cities = []
    states = []

    for element in start.next_siblings:
        if element.name == stop_tag: break
        if element.name == 'ul':
            for li in element.select('li'):
                song_name = get_song_name(li.getText())
                songs.append(song_name)
                cities.append(city_name)
                states.append(state_name)
    return {
        'songs':songs,
        'cities':cities,
        'states':states
    }

### Detroit

In [11]:
detroit_results = scrape_single_aricle(
    URL = '/wiki/List_of_songs_about_Detroit',
    start_tag = 'span',
    start_id='0-9',
    stop_tag = 'div',
    city_name = 'Detroit',
    state_name = 'Michigan')

In [12]:
export_data_detroit = pd.DataFrame(data={'City':detroit_results['cities'],'State':detroit_results['states'],'Song':detroit_results['songs']})
export_data_detroit.to_csv(cwd + '/datasets/Data_detroit.csv',index=False)
export_data_detroit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    316 non-null    object
 1   State   316 non-null    object
 2   Song    303 non-null    object
dtypes: object(3)
memory usage: 7.5+ KB

### Miami

In [13]:
miami_results = scrape_single_aricle(
    URL = '/wiki/List_of_songs_about_Miami',
    start_tag = 'span',
    start_id='Songs_about_Miami',
    stop_tag = 'h2',
    city_name = 'Miami',
    state_name = 'Florida')

In [14]:
export_data_miami = pd.DataFrame(data={'City':miami_results['cities'],'State':miami_results['states'],'Song':miami_results['songs']})
export_data_miami.to_csv(cwd + '/datasets/Data_miami.csv',index=False)
export_data_miami.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    45 non-null     object
 1   State   45 non-null     object
 2   Song    45 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

### New Orleans

In [15]:
new_orleans_results = scrape_single_aricle(
    URL = '/wiki/List_of_songs_about_New_Orleans',
    start_tag = 'span',
    start_id='0-9',
    stop_tag = 'div',
    city_name = 'New Orleans',
    state_name = 'Louisiana')

In [16]:
export_data_new_orleans = pd.DataFrame(data={'City':new_orleans_results['cities'],'State':new_orleans_results['states'],'Song':new_orleans_results['songs']})
export_data_new_orleans.to_csv(cwd + '/datasets/Data_new_orleans.csv',index=False)
export_data_new_orleans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779 entries, 0 to 778
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    779 non-null    object
 1   State   779 non-null    object
 2   Song    775 non-null    object
dtypes: object(3)
memory usage: 18.4+ KB

### Los Angeles

In [17]:
los_angeles_results = scrape_single_aricle(
    URL = '/wiki/List_of_songs_about_Los_Angeles',
    start_tag = 'span',
    start_id='#sâ€“A',
    stop_tag = 'h2',
    city_name = 'Los Angeles',
    state_name = 'California')

In [18]:
export_data_los_angeles = pd.DataFrame(data={'City':los_angeles_results['cities'],'State':los_angeles_results['states'],'Song':los_angeles_results['songs']})
export_data_los_angeles.to_csv(cwd + '/datasets/Data_los_angeles.csv',index=False)
export_data_los_angeles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2696 entries, 0 to 2695
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    2696 non-null   object
 1   State   2696 non-null   object
 2   Song    2681 non-null   object
dtypes: object(3)
memory usage: 63.3+ KB

### Chicago

In [19]:
chicago_results = scrape_single_aricle(
    URL = '/wiki/List_of_songs_about_Chicago',
    start_tag = 'span',
    start_id='0â€“9',
    stop_tag = 'p',
    city_name = 'Chicago',
    state_name = 'Illinois')

In [20]:
export_data_chicago = pd.DataFrame(data={'City':chicago_results['cities'],'State':chicago_results['states'],'Song':chicago_results['songs']})
export_data_chicago.to_csv(cwd + '/datasets/Data_chicago.csv',index=False)
export_data_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    665 non-null    object
 1   State   665 non-null    object
 2   Song    659 non-null    object
dtypes: object(3)
memory usage: 15.7+ KB

### New York City

In [21]:
page_soup = load_page(base_URL + '/wiki/List_of_songs_about_New_York_City')

start = page_soup.find("span",id="0â€“9").parent

songs = []
cities = []
states = []

for element in start.next_siblings:
    if element.name == 'p': break
    if element.name == 'div':
        el = element.select('ul')[0]
        for li in el.select('li'):
            song_name = get_song_name(li.getText())
            songs.append(song_name)
            cities.append('New York City')
            states.append('New York')

In [22]:
export_data_new_york_city = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})
export_data_new_york_city.to_csv(cwd + '/datasets/Data_new_york_city.csv',index=False)
export_data_new_york_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    3663 non-null   object
 1   State   3663 non-null   object
 2   Song    3647 non-null   object
dtypes: object(3)
memory usage: 86.0+ KB

### Nashville

In [23]:
page_soup = load_page(base_URL + '/wiki/List_of_songs_about_Nashville,_Tennessee')

start = page_soup.find("span",id="C").parent

songs = []
cities = []
states = []

for element in start.next_siblings:
    if element.name == 'h2' and element.select('span#References'): break
    if element.name == 'ul':
        for li in element.select('li'):
            song_name = get_song_name(li.getText())
            songs.append(song_name)
            cities.append('Nashville')
            states.append('Tennessee')

In [24]:
export_data_nashville = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})
export_data_nashville.to_csv(cwd + '/datasets/Data_nashville.csv',index=False)
export_data_nashville.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    44 non-null     object
 1   State   44 non-null     object
 2   Song    44 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

### Atlanta

In [25]:
page_soup = load_page(base_URL + '/wiki/List_of_songs_about_Atlanta')

songs_list = page_soup.find("ul")

songs = []
cities = []
states = []

for li in songs_list.select('li'):
    song_name = get_song_name(li.getText())
    songs.append(song_name)
    cities.append('Atlanta')
    states.append('Georgia')

In [26]:
export_data_atlanta = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})
export_data_atlanta.to_csv(cwd + '/datasets/Data_atlanta.csv',index=False)
export_data_atlanta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    41 non-null     object
 1   State   41 non-null     object
 2   Song    41 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

### Boston

In [27]:
page_soup = load_page(base_URL + '/wiki/List_of_songs_about_Boston')

songs_list = page_soup.find("ul")

songs = []
cities = []
states = []

for li in songs_list.select('li'):
    song_name = get_song_name(li.getText())
    songs.append(song_name)
    cities.append('Boston')
    states.append('Massachusetts')

In [28]:
export_data_boston = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})
export_data_boston.to_csv(cwd + '/datasets/Data_boston.csv',index=False)
export_data_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    137 non-null    object
 1   State   137 non-null    object
 2   Song    137 non-null    object
dtypes: object(3)
memory usage: 3.3+ KB

### Portland

In [29]:
page_soup = load_page(base_URL + '/wiki/List_of_songs_about_Portland,_Oregon')

songs_list = page_soup.find("ul")

songs = []
cities = []
states = []

for li in songs_list.select('li'):
    song_name = get_song_name(li.getText())
    songs.append(song_name)
    cities.append('Portland')
    states.append('Oregon')

In [30]:
export_data_portland = pd.DataFrame(data={'City':cities,'State':states,'Song':songs})
export_data_portland.to_csv(cwd + '/datasets/Data_portland.csv',index=False)
export_data_portland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    31 non-null     object
 1   State   31 non-null     object
 2   Song    31 non-null     object
dtypes: object(3)
memory usage: 872.0+ bytes

## Getting lat and long from GeoPy

In [31]:
geolocator = Nominatim(user_agent="my_app")

In [32]:
separate_cities = [
    {
        'city':'Los Angeles',
        'state':'California'
    },
    {
        'city':'Atlanta',
        'state':'Georgia'
    },
    {
        'city':'Boston',
        'state':'Massachusetts'
    },
    {
        'city':'Chicago',
        'state':'Illinois'
    },
    {
        'city':'Detroit',
        'state':'Michigan'
    },
    {
        'city':'Miami',
        'state':'Florida'
    },
    {
        'city':'Nashville',
        'state':'Tennessee'
    },
    {
        'city':'New Orleans',
        'state':'Louisiana'
    },
    {
        'city':'New York City',
        'state':'New York'
    },
    {
        'city':'Portland',
        'state':'Oregon'
    }
]

In [33]:
i = 0
while i < len(separate_cities):
    try:
        loc = geolocator.geocode(f'{separate_cities[i]["city"]},{separate_cities[i]["state"]} United States')
    except Exception:
        print(f'ðŸ›‘ Can\'t generate coordinates for {separate_cities[i]["city"]}')
        continue

    dataset_to_change_PATH = cwd + f'/datasets/Data_{normalized_city_name(separate_cities[i]["city"])}.csv'

    data_to_change = pd.read_csv(dataset_to_change_PATH, index_col=[0])
    data_to_change['lat'] = loc.latitude
    data_to_change['long'] = loc.longitude
    data_to_change.to_csv(dataset_to_change_PATH)
    print(f'âœ… Coordinates for {separate_cities[i]["city"]} generated!')
    i+=1

âœ… Coordinates for Los Angeles generated!
âœ… Coordinates for Atlanta generated!
âœ… Coordinates for Boston generated!
âœ… Coordinates for Chicago generated!
âœ… Coordinates for Detroit generated!
âœ… Coordinates for Miami generated!
âœ… Coordinates for Nashville generated!
âœ… Coordinates for New Orleans generated!
âœ… Coordinates for New York City generated!
âœ… Coordinates for Portland generated!


## Get lat and long for main dataset

*Note: GeoPy allows for 2500 requests per day*

In [34]:
main_dataset_import = pd.read_csv(cwd + '/datasets/Data_main.csv')
main_dataset = main_dataset_import.copy()
main_dataset

           City     State                                               Song
0      Aberdeen  Maryland                                               I-95
1       Abilene    Kansas                                            Abilene
2       Abilene    Kansas                                              Loser
3         Akron      Ohio                                   Downtown (Akron)
4         Akron      Ohio                                   My City Was Gone
..          ...       ...                                                ...
662   Ypsilanti  Michigan                                  Born in a Trailer
663   Ypsilanti  Michigan  For The Widows In Paradise, For The Fatherless...
664   Ypsilanti  Michigan                                          Ypsilanti
665   Ypsilanti  Michigan                                     Ypsilanti Song
666  Youngstown      Ohio                                         Youngstown

[667 rows x 3 columns]

In [35]:
main_dataset['Location Name'] = main_dataset.apply(lambda row: f'{row["City"]}, {row["State"]} United States', axis=1)
main_dataset

,City,State,Song,Location Name
0,Aberdeen,Maryland,I-95,"Aberdeen, Maryland United States"
1,Abilene,Kansas,Abilene,"Abilene, Kansas United States"
2,Abilene,Kansas,Loser,"Abilene, Kansas United States"
3,Akron,Ohio,Downtown (Akron),"Akron, Ohio United States"
4,Akron,Ohio,My City Was Gone,"Akron, Ohio United States"
...,...,...,...,...
662,Ypsilanti,Michigan,Born in a Trailer,"Ypsilanti, Michigan United States"
663,Ypsilanti,Michigan,"For The Widows In Paradise, For The Fatherless...","Ypsilanti, Michigan United States"
664,Ypsilanti,Michigan,Ypsilanti,"Ypsilanti, Michigan United States"
665,Ypsilanti,Michigan,Ypsilanti Song,"Ypsilanti, Michigan United States"
666,Youngstown,Ohio,Youngstown,"Youngstown, Ohio United States"

In [36]:
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)

main_dataset['Geo Location'] = main_dataset['Location Name'].apply(geocode)

main_dataset['lat'] = main_dataset['Geo Location'].apply(lambda loc: loc.latitude if loc else None)
main_dataset['long'] = main_dataset['Geo Location'].apply(lambda loc: loc.longitude if loc else None)

In [37]:
main_dataset_dropped = main_dataset.drop(columns=['Location Name','Geo Location'])

In [38]:
main_dataset_dropped.to_csv(cwd + '/datasets/Data_main.csv', index=False)

In [39]:
main_dataset_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    667 non-null    object
 1   State   667 non-null    object
 2   Song    667 non-null    object
 3   lat     666 non-null    float64
 4   long    666 non-null    float64
dtypes: float64(2), object(3)
memory usage: 26.2+ KB

## Merge all datasets

In [40]:
merged_data = pd.concat(map(pd.read_csv, glob.glob('datasets/*.csv')), ignore_index=True)
merged_data.to_csv(cwd + '/Data_merged.csv')
merged_data

,City,State,Song,lat,long
0,Los Angeles,California,10th & Crenshaw,34.053691,-118.242766
1,Los Angeles,California,100 Miles and Runnin',34.053691,-118.242766
2,Los Angeles,California,101 Eastbound,34.053691,-118.242766
3,Los Angeles,California,The 103rd St. Theme,34.053691,-118.242766
4,Los Angeles,California,1977 Sunset Strip,34.053691,-118.242766
...,...,...,...,...,...
9079,Ypsilanti,Michigan,Born in a Trailer,42.241056,-83.613055
9080,Ypsilanti,Michigan,"For The Widows In Paradise, For The Fatherless...",42.241056,-83.613055
9081,Ypsilanti,Michigan,Ypsilanti,42.241056,-83.613055
9082,Ypsilanti,Michigan,Ypsilanti Song,42.241056,-83.613055
9083,Youngstown,Ohio,Youngstown,41.103579,-80.652016

In [41]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9084 entries, 0 to 9083
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    9084 non-null   object
 1   State   9084 non-null   object
 2   Song    9030 non-null   object
 3   lat     9083 non-null   float64
 4   long    9083 non-null   float64
dtypes: float64(2), object(3)
memory usage: 355.0+ KB

In [42]:
shutil.copy2(cwd + '/Data_merged.csv', cwd + '/../data_viz')

'/Users/dominikilnicki/Documents/data-science/city-songs/creating_dataset/../data_viz/Data_merged.csv'